header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    border-bottom: 1px solid #E5E4E1;
}

.header-name {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.02em;
    color: #373539;
}

@media screen and (max-width: 600px) {
	.navbar-light .navbar-brand {
		font-size: 20px;
	}
}